<div class="jumbotron text-center" id="no1">
    <div class="bg">
        <div class="container"
            data-top-top="opacity:1;"
            data-center-bottom="opacity:0;">
            <div class="vert-center">
                <h1 class="text-align-center">We're getting married</h1>
                <h3>San Francisco</h3>
            </div>
        </div>
    </div>
</div>
<div id="no2" class="jumbotron text-center"
data-center-top="opacity:0;" data-center="opacity:1;" data-center-bottom="opacity:0;"
    data-anchor-target="#no2"
    >
    <div class="bg">
        <div class="custom">
            <div class="content-white">
                <h2>Save The Date</h2>
                <h3>March 10, 2017</h3>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" id="no3"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#no3">
    <div class="bg">
        <div class="custom">
            <div class="content-white">
                <h2>Wedding Details</h2>
                <h3>Ceremony</h3>
                <h3>Reception</h3>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center" id="accomo">
    <div class="bg">
        <div class="custom">
            <h1>Accommodations</h2>
            <h3>Accommodation information to go here.</h3>
        </div>
    </div>
</div>
<div class="jumbotron text-center"  id="photos">
    <div class="bg">
        <div class="custom">
            <h1>Photos</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="photo" id="photo01"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo02"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo03"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo04"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo05"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo06"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo07"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo08"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo09"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo10"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo11"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="photo" id="photo12"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center"  id="registry">
    <div class="bg">
        <div class="custom">
            <h1>Registry</h2>
        </div>
    </div>
</div>
