<div class="jumbotron text-center" id="no1">
    <div class="bg">
        <div class="container"
            data-top-top="opacity:1;"
            data-center-bottom="opacity:0;">
            <div class="vert-center">
                <h1>Happy Days</h1>
                <p>Allen and Emily are getting married.  Whaaaaat?</p>
            </div>
        </div>
    </div>
</div>
<div id="no2" class="container custom"
    data-center-top="opacity:0;" data-center="opacity:1;" data-center-bottom="opacity:0;"
    data-anchor-target="#no2"
    >
    <div class="content-white">
        <h2>In all of God's vast creation</h2>
    </div>
</div>

<div id="no3bg" class="bcg custom"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#no3bg">
        <div class="content-white">
            <h2>They found each other</h2>
            <p>Through a vast series of trials, mishaps, and fortuitous, blessed circumstances, the two protagonsists
            of our story meet.  Awkward at first sight might best describe Emily's initial impression, but Allen's
            charming, witty banter soon turned the tide.</p>
            <h2>Maybe we can have a picture gallery here.</h2>
        </div>
</div>


<div id="no4"
    data-center-top="opacity:0;"
    data-top-top="opacity:1;">
    <h2 class="featurette-heading">Save the date: 3/10/2017</h2>
</div>
