<div class="jumbotron text-center" id="no1">
    <div class="bg">
        <div class="container"
            data-top-top="opacity:1;"
            data-center-bottom="opacity:0;">
            <div class="vert-center">
                <h1>Happy Days</h1>
                <p>Allen and Emily are getting married.  Whaaaaat?</p>
            </div>
        </div>
    </div>
</div>
<div id="no2" class="container"
        data-center="background-position: 50% 0px; opacity:1"
            data-top-bottom="background-position: 50% -100px; opacity:0"
            data-anchor-target="#no2">
        <h2>In all of God's vast creation</h2>
</div>

<div id="no3bg" class="bcg"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#no3bg">
        <h2>They found each other</h2>
</div>


<div class="row featurette" id="third"
    data-center-top="opacity:0;"
    data-top-top="opacity:1;"
    >

  <h2 class="featurette-heading">Save the date: 3/10/2017</h2>

</div>
