// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Lato';
  src: font-url('Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'UniversalisADFStdRegular';
  src: font-url('UniversalisADFStd-Bold.otf') format('opentype');
  font-weight: bold;
}

body {
  font-family: Lato, Arial, sans-serif;

  h1, h2 {
    font-family: 'Open Sans', "futura-pt", Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, UniversalisADFStdRegular, "URW Gothic L", "Avant Garde", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    font-family: Arvo, 'Arvo';
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 19px;
  }

  .bg {
    /* Set up proportionate scaling */
    width: 100%;
    height: 100vh;
    .container {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    background-size: cover;
    display: table;
    background-repeat: no-repeat;
  }

  #no1 {
    .bg {
      /* Set rules to fill background */
      /* Set up positioning */
//      top: 0;
//      left: 0;
      background-image: image-url('allenemilyjapan.JPG');
      background-position-y: -200px;
      background-attachment: fixed;

    }
  }
  #no2 {
    .bg {
      background-image: image-url('japnforestpic-min.jpg');
      background-position-y: -250px;
      background-attachment: fixed;
      height: calc(100vh + 50px);
    }

  }

  #no3 {
    .bg {
      background-image: image-url('bigsurpic-min.jpg');
      background-attachment: fixed;
      height: calc(100vh + 50px);
      .content-white {
        height: auto;
      }
    }
  }

  #accomo {
    .bg {
      background-color: #FCE9F2;
      padding-top: 136px;
      color: black;
    }
  }


  #photos {
    .bg {
      background-color: #02321B;
      padding-top: 136px;
      .container {
        display: block;
        padding-top: 30px;
      }
//      color: black;
      .photo {
        height:231px;
        background-size:contain;
        background-repeat: no-repeat;
      }
      #photo01 {
        background-image: image-url('thumb01-min.JPG');
      }
      #photo02 {
        background-image: image-url('thumb02-min.JPG');
      }
      #photo03 {
        background-image: image-url('thumb03-min.JPG');
      }
      #photo04 {
        background-image: image-url('thumb04-min.JPG');
      }
      #photo05 {
        background-image: image-url('thumb05-min.JPG');
      }
      #photo06 {
        background-image: image-url('thumb06-min.JPG');
      }
      #photo07 {
        background-image: image-url('thumb07-min.JPG');
      }
      #photo08 {
        background-image: image-url('thumb08-min.JPG');
      }
      #photo09 {
        background-image: image-url('thumb09-min.JPG');
      }
      #photo10 {
        background-image: image-url('thumb10-min.jpg');
      }
      #photo11 {
        background-image: image-url('thumb11-min.JPG');
      }
      #photo12 {
        background-image: image-url('thumb12-min.JPG');
      }
    }
  }


  #registry {
    .bg {
      background-color: #FCE9F2;
      padding-top: 136px;
      color: black;
    }
  }

  #no4 {
    height: 120vh;
    width: 100%;
    background-image: image-url('heart.jpg');
    display: table;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    h2 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .custom {
    height: 100%;
    width: 100%;
    position:relative;
    .content-white {
      top: 50%;
      left: 50%;
      position:absolute;
      background-color: white;
      vertical-align: middle;
      text-align: center;
      padding:100px;
      margin: -15% 0 0 -25%;
      height: 30%;
      width: 50%;
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      h2, h3 {
        color: black;
      }
      h2 {
        width: 100%;
      }
    }
  }

  #third {
    /* Set up proportionate scaling */
    width: 100%;
    height: 100vh;
    background-color: white;
    display: table;
    h2 {
      //      top: 50%;
      //      right: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  nav {
    .container {
      padding-top: 5px;
    }

    div {
      ul.navbar-center {
        float:none;
        text-align: center;
        li {
          float:none;
          display: inline-block;
        }
      }
    }
  }

  div {
    .jumbotron .text-center {
      margin-top: 20px;
    }
  }
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
}
.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}
.content-white {
  margin: 50px;
  display: inherit;
}
